{% load static %}
<div class="related-products clearfix">
    {% if request.resolver_match.kwargs.pk == '1' %}
    {% for product in related_products_1 %}
    <div class="block">
        <a href="#"><img src="/media/{{ product.image }}" alt="product.short_desc">
            <div class="text">
                <img src="{% static "img/icon-hover.png" %} alt="img">
                <h4>{{ product.name }}</h4>
                <p>{{ product.description }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
    {% endif %}

    {% if request.resolver_match.kwargs.pk == '2' %}
    {% for product in related_products_2 %}
    <div class="block">
        <a href="#"><img src="/media/{{ product.image }}" alt="product.short_desc">
            <div class="text">
                <img src="{% static "img/icon-hover.png" %} alt="img">
                <h4>{{ product.name }}</h4>
                <p>{{ product.description }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
    {% endif %}

    {% if request.resolver_match.kwargs.pk == '3' %}
    {% for product in related_products_3 %}
    <div class="block">
        <a href="#"><img src="/media/{{ product.image }}" alt="product.short_desc">
            <div class="text">
                <img src="{% static "img/icon-hover.png" %} alt="img">
                <h4>{{ product.name }}</h4>
                <p>{{ product.description }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
    {% endif %}


</div>

