{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}
    <div class="user_avatar"><img src=
        {% if user.is_authenticated and not backends.associated %}
            "/media/{{ user.avatar }}"
        {% else %}
            "{{ user.avatar }}"
        {% endif %}
    ></div>
    <form class="form-horizontal" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.as_p }}
        {{ profile_form.as_p }}
        <br>
        <input class="form-control" type="submit" value="Сохранить">
    </form>
    <button class="btn btn-round form-control">
        <a  class="btn btn-link" href="{% url 'main' %}">
            На главную
        </a>
    </button>

{% endblock %}